* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #F6F6F6;
    box-sizing: border-box;
}


h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}


p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.titulo-destaque {
    color: #13B02C;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.cabecalho {
    font-size: 78px;
    color: #a52a2a;
    margin: 2rem;
}

a {
    text-decoration: none;
    color: #13B02C;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

main {
    flex-direction: row; 
    align-items: center;
    background-color: brown;
    justify-content: space-around;
}

.sobre {
    width: 615px;
}

.apresentação {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
}

.sobre-eu {
    padding: 2.5rem 0 2.5rem 2.5rem;
}

.titulo {
    font-size: 36px;
    padding-bottom: 5rem;
}

.imagem {
    max-width: 50%; 
    margin-top: 20px;
}

.link {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

a#link {
    -webkit-box-shadow: -19px 11px 26px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 11px 26px -1px rgba(0,0,0,0.75);
    box-shadow: -19px 11px 26px -1px rgba(0,0,0,0.75);
    padding: 10px;
    background-color: #13B02C;
    color: brown;
    border-radius: 2rem;
}

.texto {
    font-size: 24;
}